.mailingSection {
  padding: 40px 0;
  background-color: #00aeef;
  text-align: center;

  p {
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.5;
  }

  h2 {
    padding: 0;
    margin: 0 0 40px 0;
    color: #ffffff;

    font-family: "Poppins", sans-serif;
    font-size: 50px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .mailingListForm {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    padding: 30px;
    width: 550px;
    height: 200px;
    background-color: #ffffff;

    color: #292929;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    text-align: left;

    input {
      margin-top: 30px;
      padding: 15px 20px;
      font-style: italic;
      font-size: 14px;
      border: 1px solid #000000;
      outline: none;
    }

    // input:invalid {
    //   border: 2px solid red;
    // }

    button {
      padding: 10px 15px;
      font-style: italic;
      font-size: 14px;
      line-height: 1.3;
      text-align: center;
      cursor: pointer;

      color: #ffffff;
      background-color: #00aeef;
      border: 2px solid #000000;
      transition: background-color 250ms linear;
    }

    button:hover,
    button:focus {
      background-color: #000000;
    }
  }
}
