.hero {
  background-color: #00aeef;
  text-align: center;
  padding: 40px 0;
}

.heroTitle {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 35px;

  @media screen and (min-width: 750px) {
    font-size: 40px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 50px;
  }
}

.heroIcon {
  margin: -90px;
  width: 320px;
  height: 320px;

  @media screen and (min-width: 750px) {
    width: 350px;
    height: 350px;
  }

  @media screen and (min-width: 1000px) {
    width: 378px;
    height: 378px;
  }
}

.signUp {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 300;
  font-size: 16px;

  width: 142px;
  height: 46px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: #00aeef;
  transition: background-color 250ms linear, color 250ms linear,
    border-color 250ms linear;
}

.signUp:hover,
.signUp:focus {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}
