.mailingSection {
  padding: 40px 0;
  background-color: #00aeef;
  text-align: center;

  p {
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 20px;

    @media screen and (min-width: 750px) {
      font-size: 25px;
    }

    @media screen and (min-width: 1000px) {
      font-size: 30px;
    }
  }

  h2 {
    margin: 0 0 40px 0;
    padding: 0;
    color: #ffffff;
    font-size: 35px;

    @media screen and (min-width: 750px) {
      font-size: 40px;
    }

    @media screen and (min-width: 1000px) {
      font-size: 50px;
    }
  }
}
