.homeBusinessCards {
  display: flex;
  flex-direction: row;
  padding: 40px 102px;

  color: #00aeef;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
}

.homeBusinessList {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .icon {
    width: 25%;
  }

  .arrow {
    width: 10%;
  }
}

.giftCardsIcon {
  display: block;
  margin: 0 auto;
}

.arrowForwardIcon {
  transform: rotate(90deg);
  margin: 0 40px 50px 40px;
}

.arrowBackIcon {
  transform: rotate(-90deg);
  margin: 0 40px 50px 40px;
}
