.giftCardsList {
  list-style: none;
  padding: 20px 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.giftCardsItem {
  width: 100%;
  margin-bottom: 20px;

  @media screen and (min-width: 650px) {
    width: calc((100%) / 2);
    margin: 0 0 30px;
  }

  @media screen and (min-width: 850px) {
    width: calc((100%) / 3);
    margin: 0 0 50px;
  }

  .giftCardsThumb {
    position: relative;
    overflow: hidden;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
}
