.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modal {
  padding: 30px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  z-index: 200;
}

.textModal {
  margin-top: 10px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #00aeef;
  font-size: 18px;
}

.closeBtnIcon {
  cursor: pointer;
}
