.profitsSteps {
  padding: 40px 15px;
  background-color: #00aeef;
  text-align: center;

  h2 {
    margin: 40px 0;
    padding: 0;
    color: #ffffff;
    font-size: 35px;

    @media screen and (min-width: 750px) {
      font-size: 40px;
    }

    @media screen and (min-width: 1000px) {
      font-size: 50px;
    }
  }

  p {
    margin: 0 0 40px 0;
    color: #ffffff;
    font-size: 20px;

    @media screen and (min-width: 750px) {
      font-size: 25px;
    }

    @media screen and (min-width: 1000px) {
      font-size: 30px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 750px) {
      display: flex;
    }
  }

  li {
    padding: 60px 20px;
    background-color: #ffffff;
    color: #00aeef;

    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 520px) {
      padding: 60px 100px;
    }

    @media screen and (min-width: 750px) {
      width: calc((100%) / 2);
      padding: 60px 40px;
      font-size: 40px;
    }

    @media screen and (min-width: 1000px) {
      padding: 60px 60px;
      font-size: 50px;
    }
  }

  li:not(:last-child) {
    @media screen and (max-width: 749px) {
      margin-bottom: 15px;
    }

    @media screen and (min-width: 750px) {
      margin-right: 15px;
    }
  }
}
