@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body.modalOpen {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
