@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

body.modalOpen {
  overflow: hidden;
}

h1,
h2 {
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
